body {
    font-family: Arial;
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.form input, .form button {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: none;
}

button {
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(0,0,0,0.7);
    padding: 30px;
    border-radius: 12px;
}